
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    max-width: 100vw;
    height: auto;
    overflow-x: hidden;
}
:root {
    --primary-color: white;
    --secondary-color: #2ecc71;
    --font-size-large: 2rem;
    --font-size-small: 1rem;
    --bg-image: linear-gradient(rgb(4, 160, 208) rgb(82, 113, 122));
    --background-color:black;

  }
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    
  }
  .icon-nav{
    font-size: 1.2vw !important;
  }
  
  
  
    .navbar{
        position: sticky;
        background-image: linear-gradient(rgb(6, 6, 16), rgb(28, 6, 61));
        
    }
    a.nav-link{
        margin-left: 2vw;
        font-weight: 900 !important;
        border-radius: 10px;
        color: var(--primary-color) !important;
    }
    a.nav-link:hover{
        background-color: white;
        color:darkblue !important;
        border-radius: 0.4vw;
        transition:0.5s ease;
    }

section{
    position: relative;
    max-width: 100vw;
    height:auto;
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-size: cover;

    
}

           /*Home Section*/
section#home{ 
    position: relative;
    padding-top: 10vh;
    padding-bottom: 5vh;
    height: fit-content;
    
}

div.home{  
    margin: 0vh 0vh;
}

    div.profile-img{
    width: 19vw;  
    height: 23vw;
    background-image:url(./images/profile.png);
    border: 1px solid white;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat; 
    box-shadow: 0 0 3px 1px blue(255, 255, 255, 0.8); 
    animation: pulse 1.5s infinite alternate;
    
    }
    div.profile-img:hover{
        filter: brightness(1.2);
    }

    @keyframes pulse {
        from {
            box-shadow: 0 0 4px 2px white;
        }
        to {
            box-shadow: 0 0 6px 3px skyblue;
            border: 1px solid skyblue;
        }
    }
    
    

figcaption.animate{
    display: flex;
    justify-content: center;
}

figcaption.animate p{
    color: white ;
    font-weight: 900 !important;
    font-size: 2rem;
    opacity: 0;
    animation: text 3s ease-in-out;
    position: absolute;  
}

figcaption.animate p:nth-child(1){
    animation-delay: 0s;
}
figcaption.animate p:nth-child(2){
    animation-delay: 3s;
}
figcaption.animate p:nth-child(3){
    animation-delay: 6s;
}
figcaption.animate p:nth-child(4){
    animation-delay: 9s;
}
figcaption.animate p:nth-child(5){
    animation-delay: 12s;
}

@keyframes text{
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
 #home span.name{
    font-weight: 900;
    color: Red;
    font-size: xx-large;
}

    /*about section*/

section#about{
   
    position: relative;
    margin: auto;
    padding-top: 5vh;  
      
}
.outer-card{
    width:17vw;
    height:21.8vw; 
    border-radius: 2vw;
    border: 1px solid white;
}
.outer-card:hover{
    filter: brightness(1.2)
}

div.about-img{
    background-image: url(./images/about.png);
    background-color: aqua;
    background-size: cover;
    background-repeat: no-repeat;
    width: 16.9vw;
    height: 17vw;
    margin: auto;
    z-index: -1;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw; 
     
}
div.about-img:hover{
    
    background-color: rgb(6, 6, 45);
    
}
.my-name{
    background-color:  white;
    
    color: rgb(9, 9, 67);
    
}

div.about-img:hover{
    opacity: 1.0;
}
.sur-name{
    background-color: white;
    
    color: rgb(9, 9, 67);
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}

div.about{
    margin:auto;
    margin-bottom: 0%;
    font-size: 1.3rem;
}

div.about p{
    margin-bottom: 0%;
}
button.cv{
    
    display: flex;
    margin: auto;
    animation-delay: 10s;
}

                /*skills Section*/

section#skills{
   
    padding-top: 3vh;
    padding-bottom: 3vh;
    position: relative;
}
.show-on-load{
    display: block;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    color: rgb(14, 244, 91); 
    letter-spacing: 2px;
    font-weight: 900;
    text-shadow: 1px 1px 1px black;   
}
.hide-on-load{
    display: none;
}

.card:hover .show-on-load{
    display: hide;
    font-size: 0px;
}
.card:hover .hide-on-load{
    display: block;   
}

div.card{
    width: 10.5rem;
    height: 13.5rem;
    margin-top: 1rem;
    border: 1px solid black;
    box-shadow:2px 2px 8px black;
    background-image: linear-gradient(rgb(22, 195, 22), white);
}

div.card:hover{
    filter: brightness(110%);
    cursor: pointer;
}

div.card-img-top{
    cursor: pointer;
    border-radius: 2px; 
}

div.skill{
    width: 90%;
    height: 30px;   
    border: 1px solid grey;   
    border-radius: 0.3vw;
}

div.range{
    height: 100%;
    color: white;
    font-weight: 900;
    border-radius: 0.3vw;
}
img.skill-card{
    width: 9.9rem;
    height: 10rem; 
    cursor: pointer;
}   

               /* project Section*/


section#projects{ 
    position: relative;  
    padding-top: 1vh;  
}


.large-device{
    width: 90%;
    height: 90%;
    transition: transform 0.3s ease-in-out;
}
.large-device:hover{
    transform: scale(1.05);
}

.medium-device{
    width: 90%;
    height: 71%;
    transition:transform 0.3s ease-in-out;
}

.medium-device:hover{
    transform: scale(1.05);  
}
.small-device{
    width: 90%;
    height: 90%;
    transition: transform 0.3s ease-in-out;
}
.small-device:hover{
    transform: scale(1.05);   
}


                /*contact section*/

section#contact{
    padding-top: 5vh;  
}
     /*section footer*/

     #footer{
        
        height: auto;
        background-image: linear-gradient( rgb(28, 6, 61), rgb(6, 6, 16));
        bottom: 0%;
     }
     i.bi{
        font-size: 30px;
        border-radius: 60%;
    }
    i bi:hover{
        cursor: all-scroll;
        filter: brightness(200%) !important;
    }

 /*media-screen 991px*/

 @media screen and (max-width:991px) {

    section#about{
   
        padding-top: 2vh;  
        padding-bottom: 2vh;  
    }
    .icon-nav{
        font-size: 2.4vw !important;
      }

    section#skills{
        padding-top: 10vh;     
        position: relative;
    }

    div.profile-img{     
      width: 32vw ;
      height: 40vw;     
    }
   
    div.home{  
      margin: 10vh 10vh;
    }
    div.home p{
      font-size: 1.5rem !important;
    }
     h1.name{
      margin: auto;
      margin-top: 0%;  
     } 

     .outer-card{
        padding-bottom: 0px;
        width:35.2vw;
        height:42.5vw; 
        margin: auto;   
    }
   
     div.about-img{ 
      width: 35vw;
      height: 35vw;
      margin: auto;  
     }

     figcaption.animate p{
      font-size:3vw;
     }
     div.card{
      margin: auto;
     }
     .card-row{
        margin: auto !important;
     }
  }
      /*media-screen 576px*/

  @media screen and (max-width:576px) {
    section{
        overflow-x: hidden;
    }
    .icon-nav{
        font-size: 4.5vw !important;
      }
    div.profile-img{     
      width: 45vw;
      height: 50vw; 
      filter: brightness(120%);
      box-shadow: 0 0 10px 2px blue(255, 255, 255, 0.8);     
    }
    section#home{
      padding-bottom: 2vh;
      
    }
    div.home{  
      margin: 0vh 5vh;
      
    }
    div.home p{
      font-size: 1.5rem !important;
      
    }
   
     h1.name{
      margin: auto;
      margin-top: 0%;    
     } 
     .outer-card{
        padding-bottom: 0%;
        width:50.2vw;
        height:auto; 
        margin: auto;
        box-shadow: 1px 1px 1px white;
        
    }
     div.about-img{ 
      width: 50vw;
      height: 50vw ;
      margin: 0%;
      filter: brightness(120%);
      
      
     }

     figcaption.animate p{
      font-size: 4vw;
     }

     section#skills{
        margin-top: 0vh;
        padding-top: 1vh;     
     }
     section#contact{
        padding-top: 0vh;
     }

     div.card{
     margin: auto;    
     }

     .show-on-load{
        bottom: 0%;
     }
     img.skill-card{
        width: 9.9rem;
        height: 10rem; 
        cursor: pointer;
    }  
  }
  